h1= poll.question

- if error_message
	p: strong= error_message

form(action="{% url 'polls:vote' poll.id %}", method='post')
	- csrf_token
	- for choice in poll.choice_set.all
		- var choice_index = 'choice#{ forloop.counter }'
		input(type='radio', name='choice', id=choice_index, value=choice.id)
		label(for=choice_index)= choice.choice_text
	br
	input(type='submit', value='Vote')